name: Build/release
on:
  push:
    tags:
      - 'v*'
jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14, ubuntu-latest, windows-latest]
    steps:
      # Step 1: Checkout code
      - name: Check out Git repository
        uses: actions/checkout@v3
      
      # Step 2: Set up Node.js
      - name: Set up Node.js, NPM and Yarn
        uses: actions/setup-node@v3
        with:
          node-version: 16
      
      # Step 3: Fix distutils for macOS
      - name: Install setuptools for node-gyp (macOS)
        if: runner.os == 'macOS'
        run: |
          python3 -m pip install --break-system-packages setuptools
      
      # Step 4a: Generate .env file from GitHub Secrets
      - name: Create .env file
        run: |
          echo "DISCORD_CLIENT_ID=${{ secrets.DISCORD_CLIENT_ID }}" > .env
        shell: bash
        
      # Step 4b: Verify .env was created safely
      - name: Verify .env file
        run: |
          if [ -f .env ]; then
            echo ".env file exists."
            echo "DISCORD_CLIENT_ID is set: $(grep DISCORD_CLIENT_ID .env | sed 's/=.*/=*** /')"
          else
            echo ".env file not found!" && exit 1
          fi
        shell: bash
  
        # Step 4c: Install dependencies
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      
      # Step 5: Build/release Electron app
      - name: Build/release Electron app
        uses: samuelmeuli/action-electron-builder@v1
        with:
          args: "-c builder.config.js"
          github_token: ${{ secrets.github_token }}
          release: ${{ true }}