name: Build/release
on:
  push:
    tags:
      - 'v*'
jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14, ubuntu-latest, windows-latest]
    steps:
      # Step 1: Checkout code
      - name: Check out Git repository
        uses: actions/checkout@v3
      
      # Step 2: Set up Node.js
      - name: Set up Node.js, NPM and Yarn
        uses: actions/setup-node@v3
        with:
          node-version: 16
      
      # Step 3: Install dependencies
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      
      # Step 4: Build/release Electron app
      - name: Build/release Electron app
        uses: samuelmeuli/action-electron-builder@v1
        with:
          args: "-c builder.config.js"
          github_token: ${{ secrets.github_token }}
          release: ${{ true }}